[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-docstrings = "*"
jupyter = "*"
pep8-naming = "*"
pytest = "*"
requests = "*"

[packages]
fastapi = "*"
pandas = "*"
uvicorn = "*"
plotly = "*"
joblib = "==1.2.0"
scikit-learn = "==0.22.2.post1"

[requires]
python_version = "3.7"
